@import "tailwindcss";
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  min-width: screen;
}


@layer utilities {
  .card {
    @apply w-50 h-30 flex items-center justify-center rounded-xl bg-[#1c1917]
           hover:bg-[#292524] transition-colors duration-200 cursor-pointer text-white;
  }

  .dark body {
    @apply bg-white text-black;
  }

  .dark .card {
    @apply bg-gray-300 text-black hover:bg-gray-400;
  }

  .dark input {
    @apply bg-white text-black border-gray-400;
  }

  .dark footer {
    @apply text-black
  }
  
  .dark span {
    @apply text-black
  }

  .dark h2 {
    @apply text-black
  }
}